<style>
@import url('https://fonts.googleapis.com/css?family=Pacifico');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Righteous');
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
</style>


h1 {
    color: brown;
    
}
#bloc
{
width: 45%;
background-color:skyblue;
    
}
#searchbar {
    position:relative; width:1040px; height:auto;
}
.formulaire {
    display:inline-block;
}
.formulaire .champ {
    width:600px; height:35px;
}
.formulaire .bouton{
    background-image: url(images/searchbar_button.png);background-repeat: no-repeat;width: 35px;height: 35px;
    padding: 0px; 
}
body {
    font-family:serif;
    margin:0px; 
    padding: 0px;

}
nav>ul>li {
    float:left;
}

nav li {
    list-style-type: none;
}

.submenu{
    display: none;
}
nav {
    width: 100%;
    background-color: gray
}
nav > ul li {
    float: left;
    position: relative;
}

nav >ul::after {
    content: "";
    display: block;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;
    
}

nav > ul >li > a{
    padding:20px 30px;
    color: aquamarine;
    font-family: 'Righteous', cursive;
        
        
    
}

.submenu{
    display: none;

}
nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: :0px;
    padding: 0px;
    z-index: 100000;
}
.submenu le {
    border-bottom: 1px solid #CCC
}
.submenu li a {
    padding:15px 30px;
    font-size: 13px;
    color: brown;
    widows: 270px
}

.menu-xxx0:hover{
    border-top: 5px solid #FFEBCD;
    background-color: beige;
}
.menu-xxx1:hover{
    border-top: 5px solid #000000;
    background-color: burlywood;
}
.menu-xxx2:hover{
    border-top: 5px solid #FFEBCD;
    background-color: beige;
}
.menu-xxx3:hover{
    border-top: 5px solid #000000 ;
    background-color: burlywood;
}

    nav > ul > li:hover a {
        padding: 15px 30px 20px; 
    }
.menu-xxx0 .submenu{
    background-color: beige;
}
.menu-xxx1 .submenu{
    background-color: gainsboro;
}
.menu-xxx2 .submenu{
    background-color: beige;
}
.menu-xxx3 .submenu{
    background-color: gainsboro;
}
p {
    color: firebrick;
}

li:hover {
    background-color: aqua;
}

li:hover {
    background-color: gray; 
}

ul{
    margin: 0;
}

footer{
    margin-top: 0.5em;
    width: 100%;
    height: 50px;
    color: white;
    background-color: black;
}
nav > ul > li {
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#navvv
{
    margin: none;
    background-color: pink;

}

#navvv h1
{
    margin: 0;
}