h1 {
	font-style: italic;
	font-weight: bold;
	font-size: 1.5em; 
	background-color: orange; 

}
.bite {color:yellow;
}
article {
	background-color:beige ; 
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

section
{
		border: solid 2px black;
		text-align: center;
}

img 
{
	border-radius: 50%;
	width: 75%;
	height: 75%; 
}

li {margin-left: 6%;
}
hr {color: orange ; 
	font-size: 1.5em;

}
